@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-dark-100,
%text-dark-100 {
  color: #000;
}

.side-bar {
  height: 100%;
  top: 50px;
}

.side-bar-item {
  @extend %text-dark-100;
  display: inline;
  background-color: #8fe48f;
  border-color: #8fe48f;

  &.active,
  &:hover,
  &:active {
    background-color: #2cbb4c;
    border-color: #2cbb4c;
  }
}

.side-bar-container {
  background-color: white;
}

.w-33 {
  width: 33%;
}

@media (min-width: 700px) and (max-width: 1024px) {
  .w-md-48 {
    max-width: 48%;
  }
}

.nb-b {
  border-bottom: none;
}

.placeholder-image {
  min-height: 100px;
}

.text-heading {
  color: #3A3D69;
}

.app-nav-bar {
  top: 0;
  z-index: 1;
  background: #e9ecef;
}

@media only screen and  (max-width: 700px) {
  .position-sticky {
    position: initial !important;
  }
  .side-bar-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .list-section-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .side-bar-md {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .mx-md-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  .list-section-md {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .side-bar-lg {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .list-section-lg {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 24%;
    max-width: 24%;
  }
}

.jumbotron {
    padding: 0 0.5rem;
}

@media (min-width: 1440px) {

  .high-res-desktop {
    max-width: 1440px;
  }
}
