body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-dark-100,
%text-dark-100 {
  color: #000;
}

.post-card {
  cursor: pointer;
}

.post-full-details {
  .lead {
    font-size: 16px;
  }
}

.cart-item-counter {
  border: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  right: -5px;
  top: -10px;
  text-align: center;
  line-height: 1em;
  padding: 0.6em 0;
}

@media (min-width: 0px) {
  .pl-xs-5,
  .px-xs-5 {
    padding-left: 3rem !important;
  }

  .ml-xs-5 {
    padding-left: 3rem !important;
  }
}

dialog:not([open]) {
  display: none !important;
}

dialog {
  border: none;
  padding: 0;
}

@media (min-width: 700px) {
  .side-bar {
    height: 100%;
    top: 50px;
  }
}

.list-group-item-action {
  cursor: pointer;
}

.app-nav-bar {
  top: 0;
  background: white;
  z-index: 1;
  height: 70px;
}

.cursor-pointer {
  cursor: pointer;
}

.side-bar-item {
  @extend %text-dark-100;
  display: inline;
  background-color: #8fe48f;
  border-color: #8fe48f;

  &.active,
  &:hover,
  &:active {
    background-color: #2cbb4c;
    border-color: #2cbb4c;
  }
}

.side-bar-container {
  background-color: white;
}

.w-33 {
  width: 33%;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.nb-b {
  border-bottom: none;
}
